


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="historico">

    <!-- Position Column -->

    <ng-container matColumnDef="Data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let historico"> {{historico?.data | date: "short"}} </td>
    </ng-container>


    <ng-container matColumnDef="Origem">
      <th mat-header-cell *matHeaderCellDef> Origem </th>
      <td mat-cell *matCellDef="let historico"> {{historico?.origem}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Destino">
      <th mat-header-cell *matHeaderCellDef> Destino </th>
      <td mat-cell *matCellDef="let historico">{{historico?.destino}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Valor">
      <th mat-header-cell *matHeaderCellDef> Valor de Entrada</th>
      <td mat-cell *matCellDef="let historico">{{historico?.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="Saida">
      <th mat-header-cell *matHeaderCellDef> Valor de Saida</th>

      <td mat-cell *matCellDef="let historico">

        {{historico?.resultado}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="Taxa">
      <th mat-header-cell *matHeaderCellDef> Taxa </th>
      <td mat-cell *matCellDef="let historico">{{historico?.rates}} </td>
    </ng-container>


    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Deletar</th>
      <td mat-cell *matCellDef="let historico">
      <button mat-icon-button color="primary" (click)="deletar(historico.id)">
        <mat-icon>delete</mat-icon>
      </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Dolar">
      <th mat-header-cell *matHeaderCellDef>Icon</th>
      <td mat-cell *matCellDef="let historico">

        <mat-icon *ngIf="historico?.valorTrue === true" color="warn">warning</mat-icon>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


