


<div class="mat-elevation-z8">
  <h1 class="titulo">Historico</h1>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
      <td mat-cell *matCellDef="let historico"> {{historico?.data | date: "short"}} </td>
    </ng-container>


    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Origem </th>
      <td mat-cell *matCellDef="let historico"> {{historico?.origem}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
      <td mat-cell *matCellDef="let historico">{{historico?.destino}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor de Entrada</th>
      <td mat-cell *matCellDef="let historico">{{historico?.valor}} </td>
    </ng-container>

    <ng-container matColumnDef="saida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor de Saida</th>
      <td mat-cell *matCellDef="let historico">{{historico?.resultado}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="taxa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Taxa </th>
      <td mat-cell *matCellDef="let historico">{{historico?.rates}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Deletar</th>
      <td mat-cell *matCellDef="let historico">
      <button mat-icon-button color="primary" (click)="deletar(historico)">
        <mat-icon>delete</mat-icon>
      </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Icon</th>
      <td mat-cell *matCellDef="let historico">

        <mat-icon *ngIf="historico?.valorTrue === true" color="warn">warning</mat-icon>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>




