<header>


  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Conversor de Moedas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <a [routerLink]="['/Inicial']" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="#">Conversor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Historico</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

<!--
<mat-toolbar color="primary">

    <h2>Conversor de Moedas</h2>
    <ul class="lista">
      <li>Teste 1</li>
      <li>Teste 2</li>
    </ul>


</mat-toolbar>

<button [matMenuTriggerFor]="meuMenu">Menu</button>

<mat-menu #meuMenu="matMenu">

  <button mat-menu-item>Listar Moedas</button>

  <button mat-menu-item>Converter</button>
  <button mat-menu-item>Historico</button>

  </mat-menu>
-->

</header>





