
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.container{
  width: auto;
  height: auto;
  margin-top: 50px;
}

.filtro{
  width: 25%;
  align-items: center;
  justify-content: center;
}
