.container{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #000000;
  margin-top: 90px;
  margin-bottom: 90px;
}

.titulo{
  font-size: 4rem;
  line-height: 50px;
  color:  #c2185b;

}

.paragrafo{
  font-size: 1.8rem;
  line-height: 50px;
  color:  #c2185b;
}

.paragrafo b {
  color: #fff;
}
