.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
}

.titulo{
  font-size: 4rem;
  padding: 80px;
  line-height: 50px;
  color:  #c2185b;

}

.paragrafo{
  font-size: 1.8rem;
  line-height: 50px;
  color:  #c2185b;
}

.paragrafo b
{
  color: #fff;
}
