

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: end;
}




.titulo{
  font-size: 5rem;
  padding: 80px;
  margin-top: 20px;
  color:  #c2185b;

}

