/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}


:root {
  --primary: #c2185b;
  --secondary: #c2185b;
  --padding: 15px;
  --cinza : #405040;
  --cinza-claro: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
}

